.button {
    background-color: $secundary;
    color: $primary;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    width: fit-content;
    align-self: flex-end;
    &:hover {
        background-color: $primary;
        color: $secundary;
    }
}