nav {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    ul, div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        background: rgba(0, 0, 0, 0.4);
        padding: 5px 20px;
        border-radius: 20px;
    }
    ul {
        li{
            list-style: none;
            margin: 10px 5px;
        }
        div{
            margin-left: 1rem;
            background-color: transparent;
        }
    }
    img {
        width: 30px;
        height: 30px;
        margin-right: 1rem;
    }

    label {
        display: none;
    }
    
}

