  $secundary: yellow;
  $primary: black;
  $marginLeft: 80px;
  $marginRight: 80px;

@import "general";
@import "navBar";
@import "homePage";
@import "buttons";
@import "lines";
@import "opacityAnimation";
@import "aboutPage";
@import "eventsPage";
@import "newsPage";
@import "footer";
@import "articleDetail";
@import "vipTables";
@import "screenWideScreen";
@import "screenTablet";
@import "screenSmallTablet";
@import "screenMobile";










